*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135.03deg, #0C061D 26.04%, #230871 57.81%, #440753 100%);
  color: aliceblue;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
